// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: white;

$light-green: #006466;
$green: #065A60;
$emerald-green: #0B525B;
$light-blue-green: #144552;
$green-blue: #1B3A4B;
$blue-green: #212F45;
$dark-green-purple: #272640;
$dark-purple: #312244;
$medium-purple: #3E1F47;
$purple: #4D194D;
