<div class="container mt-3">
  <div class="row justify-content-center">
  <div class="col-6 d-flex" >
    <%= simple_form_for([ @spaceship, @booking]) do |f| %>
      <%= f.input :start_date, as: :date %>
      <%= f.input :end_date, as: :date %>
      <div class="col-3 d-flex">
       <p class="form-control">$120</p>
      </div>
       <div class="col-3 d-flex">
         <%= f.submit "New booking", class: "btn btn-primary" %>
      </div>



    <% end %>
  </div>
  </div>
</div>
