<div class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <i class="fa-solid fa-shuttle-space mx-1"></i> Home
    <% end %>
  </div>
</div>
