<%= render "/pages/navbar" %>

<div class="background">
  <div class="banner">
    <div class="my-3 gap-5 text-center">
      <h1>Take a trip to the stars</h1>
      <%= render "search_bar" %>
    </div>
  </div>
  <p>-------------------------------</p>
  <%= render "card_map" %>
  <p>-------------------------------</p>
</div>
