<%= render "/pages/navbar" %>

<div class="background">
  <div class="banner">
    <div class="my-2 gap-5 text-center">
        <h1 class="mb-3">Take a trip to the stars</h1>
        <div class="w-50 mx-auto">
           <%= render "search_bar" %>
        </div>
    </div>
  </div>

  <%= render "card_map" %>

</div>
