<h1>Welcome to SpaceX (not the shit one by Elon) </h1>
<P>navbar</P>
<p>Put a nice banner here...</p>

<%@spaceships.each do |spaceship| %>
  <ul>
    <li><%= spaceship.name %></li>
  </ul>
<% end %>
