<h3><%= spaceship.name %></h3>
<div class="ms-3">
  <ul>
    <li><i class="fa-solid fa-paint-roller"> <%= spaceship.color %></i></li>
    <li><i class="fa-solid fa-chair"> <%= spaceship.seats %></i></li>
    <li><i class="fa-regular fa-calendar-days"> <%= spaceship.year %></i> </li>
  </ul>
</div>
