<%= render "/pages/navbardark" %>
  <%= render "/pages/search_bar" %>

  <p><strong>Results of "<%= params[:query] %>"</strong></p>
  <div class="row justify-content-start">
    <div class="col-sm-8">
      <div id="searched-spaceships" class="row justify-content-start gap-2">
        <% if @spaceships.any? %>
          <% @spaceships.each do |spaceship| %>
            <%= render "searched_card", spaceship: spaceship %>
          <% end %>
        <% else %>
          <em>Sorry, no spaceships found.</em>
        <% end %>
      </div>
    </div>
  </div>

</div>
