<div class="container">
  <%= render "card", spaceship: @spaceship %>

  <p> <%= @spaceship.description %></p>
  <p>Owner: <%= @spaceship.user.email %> </p>
</div>

<%= link_to '<i class="fa-solid fa-shuttle-space">Home</i>', root_path %>
