.dashboard-individual{
  border: 1px;
  box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.2);
}

.dashboard-individual p {
  font-style: bold;
}

.title {
  width: 220px;
}

.dashboard-spaceship {
  border: 1px;
  box-shadow: 1px 1px 5px rgba($color: #000000, $alpha: 0.2);
}

.link {
  
}
