.navbar {
  color: $purple;
  background-color: white;
}

.hometext {
  color: $purple;
  text-decoration: none;
  font-style: bold;
  text-shadow: 1px 1px rgba($color: $purple, $alpha: 0.5);
}

.hometext:hover {
  color: white;
  background-color: rgb(164, 115, 164);
}

.rounded-pill {
  border-radius: 20px;
  transition: all .3s;
  box-shadow: 0px 0px 30px 1px rgba(34, 39, 36, 0.3);
}
