.navbar {
  color: $purple;
  background-color: white;
}

.hometext {
  color: $purple;
  text-decoration: none;
  font-style: bold;
  text-shadow: 1px 1px rgba($color: $purple, $alpha: 0.5);
}

.hometext:hover {
  color: white;
  background-color: rgb(164, 115, 164);
}
