#show-container {
  border-radius: 8px;
  border: 1px solid rgb(221, 221, 221);
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  margin: 15px auto;
  overflow: hidden;
}

#show-image {
  border-radius: 8px;
  border: 1px solid rgb(221, 221, 221);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  margin-right: 75px;
  width: 100%;
}
